extends layout

block content
  .body    
    h1.title #{title}
    p.content Please enter your student details below: 

    p.form(action="info", method="post")
      label.label(for="name") Name: 
      input.input(type="text", name="stud_name", id="name")
      br

      label.label(for="surname") Surname: 
      input.input(type="text", name="stud_surname", id="surname")
      br

      label.label(for="specialty") Specialty: 
      input.input(type="text", name="stud_specialty", id="specialty")
      br

      label.label(for="group") Group: 
      input.input(type="text", name="stud_group", id="group")
      br

      label.label(for="year") Year of Study: 
      input.input(type="number", name="stud_year", id="year" min="1" max="6")
      br

      label.label(for="additional") Additional Info: 
      textarea.textarea(name="stud_additional", id="additional" rows="4" cols="30")
      br

      button.button(type="submit") Submit 